/*---------------------------------------------------------
 * Theme    : Multi_Theme
 * Par      : Sakura
 * Porté en V5.0.XX : 01/04/2016
 * Porté en V5.1.XX : 30/05/2017
 * Site web :  http://news-manga.com | http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 *---------------------------------------------------------
 * Théme non compatible avec deux menus (droite et gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/

/*--------------------------------------
		design.css
Contient les conteneurs de mise en page.
Le design.css permet de mettre en forme votre site web avec le design de votre choix
--------------------------------------*/


/* -- Elements HTML generiques specifique au theme --
--------------------------------------*/
html {
	font-size: 100%;
	font-size: 10px;
}

body {
    background:  url(images/global.jpg) repeat-x scroll 0 0 #c8d7dc;
    color: #2f404d;
    font-family: Verdana,Arial,Helvetica,sans-serif;
	position: relative;
	height: auto;
	min-height: 100%;
    font-size: 12px;
}

div#contenu {
	position:relative;
    background: rgba(0, 0, 0, 0) url(images/global.png) repeat-y scroll center top;
    margin: auto;
    width: 1060px;
}
/* -- En-tete de page - Header --
--------------------------------------*/
header#header {
max-width: 1005px;
margin:10px auto auto;
}

/* --- Partie superieure du header --- */

div#top-header {
	flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
    background: transparent url(images/header.png) no-repeat scroll center 0;
	height:28px;
	min-height: 310px;
	max-width: 1005px;
	margin: auto;
/*	overflow: hidden;*/
}

div#top-header-content{
	float: right;
}

@media (max-width: 768px) {
	div#top-header {
		flex-direction: column;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
	}
	
	div#top-header-content {
		align-self: flex-end;
		-ms-align-self: flex-end;
		-webkit-align-self: flex-end;
	}
}
/* --- paramètres slideshow --- 
* base : https://codepen.io/SitePoint/pen/YqmjRj/
--------------------------------------------------*/

section#slider {
	padding:0px;
	position: relative;
	overflow: hidden;
	margin:auto;
}

#contenair {
  position: relative;
  margin: 0;
  padding: 0;
  height: 228px;
  text-align: center;
  list-style: none;
}
.container div {
  background-color: white;
  width: 100%;
  display: inline-block;
  display: none;
}

a.prev, a.next {
  position: absolute;
  top: 35%;
  z-index: 999;
  display: block;
  font-size: 30px;  
  padding: 25px 10px;
  width: auto;
  height: auto;
  color: #cccccc;
  text-decoration: none;
  opacity: 0.8;
  cursor: pointer;
}

a.prev:hover, a.next :hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.prev {
  border-radius: 0 2px 2px 0;
}

a.next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

/* --- Partie inferieur du header --- */
div#sub-header {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfdff+0,e6ebee+50,d7dee3+51,f2f5f6+100 */
background: #fcfdff; /* Old browsers */
background: -moz-linear-gradient(top,  #fcfdff 0%, #e6ebee 50%, #d7dee3 51%, #f2f5f6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fcfdff 0%,#e6ebee 50%,#d7dee3 51%,#f2f5f6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fcfdff 0%,#e6ebee 50%,#d7dee3 51%,#f2f5f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfdff', endColorstr='#f2f5f6',GradientType=0 ); /* IE6-9 */

	
    border-top: 2px solid #bccad3;
    border-bottom: 2px solid #bccad3;	
    min-height: 35px;
    text-align: center;
}

div#sub-header-content{
	max-width: 1024px;
	margin: auto;
}


div#sub-header-menu{
	text-align:center;
	font-size:16px;
	margin-top:20px;
}
/* --- Logo et Nom du site web --- */
div#site-infos {
	max-width: 940px;
	margin: 1.5em 1.5em 0 1.5em;
	float: left;
}

div#site-logo {
    background: rgba(0, 0, 0, 0) url(images/logo.png) no-repeat scroll center center / cover ;
    float: left;
    height: 200px;
    margin: 10px 1em 0 0;
    position: absolute;
    width: 217px;
    z-index: 1000;
}

div#site-name-container {
    margin: 1em 0 0 20em;
	overflow: hidden;
	float: left;
}

a#site-name {
	color: #F9FCFF;
	font-size: 4em;
	font-weight: bold;
	line-height: 1em;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-shadow: 0 0 0 rgb(0,0,0), 1px 0 0 rgb(-255,-255,-255), 2px 0 0.1px rgba(0,0,0,0.1), 2px 0 0.1px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,.1);
}

span#site-slogan {
	display: block;
	padding: 0.1em 0 0 0.1em;
	color: #FFFFFF;
	font-size: 1em;
	letter-spacing: 0.1em;
}

@media (min-width:800px) {
	a#site-name-gsm {display:none;}
	div#site-infos {display:none;}
}


/* -- Conteneur global du site --
--------------------------------------*/
div#global {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
    margin: auto;
    max-width: 1005px;
}
div#sous-global {
	max-width: 1060px;
	width: 100%;
	margin: auto;
	padding: 0 10px;
}

aside#menu-left,
aside#menu-right {
	width: 100%;
}

aside#menu-left  {
	order : 2;
	-ms-flex-order: 2;
	-webkit-flex-order: 2;
}
aside#menu-right {
	order : 3;
	-ms-flex-order: 3;
	-webkit-flex-order: 3;
}
#main {
	order : 1;
	-ms-flex-order: 1;
	-webkit-flex-order: 1;
   width: auto;
}
@media (min-width: 769px) {
	div#global {
		min-height: 100vh;
		flex-direction: row;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
	}

	div#main {
		padding: 0 5px;
		order : 2;
		-ms-flex-order: 2;
		-webkit-flex-order: 2;
		flex: 1 0 auto;
		-ms-flex: 1 0 100%;
	}

	aside#menu-left,
	aside#menu-right {
    	width: 180px;
	}

	aside#menu-left  { 
		order : 1;
		-ms-flex-order: 1;
		-webkit-flex-order: 1;
	}
	aside#menu-right { 
		order : 3;
		-ms-flex-order: 3;
		-webkit-flex-order: 3;
	}
	
	#main.main-with-left,
	#main.main-with-right {
		width: calc(100% - 200px);
		-ms-flex: 1 0 auto; /*Tricks IE*/
	}
	
	#main.main-with-left.main-with-right {
		width: calc(100% - 360px);
		-ms-flex: 1 0 auto; /*Tricks IE*/
	}
}
/* -- Contenu de la page --
--------------------------------------*/
/* --- Contenu central --- */
div#main-content {
	padding: 1.5em 1em;
}

/* --- Emplacement au dessus et en dessous du contenu de la page --- */
div#top-content {
	margin: 0 0 2% 0;
}

div#bottom-content {
	margin: 2% 0 0 0;
}
/* --- Emplacement au dessus du pied de page --- */
div#bottom-content {
	margin: 2% 0 0 0;
	padding: 0.1em 0.8em;
}

/* --- Emplacement au dessus du pied de page --- */
div#top-footer {
	clear: both;
	padding: 2% 0;
}

/* -- Pied de page - Footer --
--------------------------------------*/
footer#footer {
    background: url(images/footer.png) no-repeat scroll center top transparent;
    clear: both;
    height: 299px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

footer#footer .footer-content {
	margin: 0 auto 0 auto;
	max-width: 1024px;
	padding: 1.5em 0;
}


footer#footer .footer-infos {
    min-height: 40px;
    padding-top: 10px;
    text-align: center;
}

footer#footer .footer-infos span {
	color: #403a3e;
	font-size: 0.8em;
}

/* -- Elements specifiques PHPboost --
--------------------------------------*/
/* --- Compteur de visite --- */
div#visit-counter {
    color: #445766;
    float: left;
    font-size: 0.9em;
    height: 28px;
    padding-left: 10px;
    padding-top: 8px;
    text-align: left;
}

/* --- Barre d'outils --- */
#actions-links-menu {
	float:right;
	margin: 0 5px 5px 5px;
}

/* --- Barre de lien rapide --- */
nav#breadcrumb {
    height: 33px;
    margin: 0 0 20px 10px;
    padding: 4px;
    text-indent: 10px;
}

nav#breadcrumb ol {
	list-style: none;
	margin: 0;
}

nav#breadcrumb ol li {
	display: inline;
}

nav#breadcrumb ol li:not(.current):after {
	content: '/';
	color: #616161;
}

/*======================================
*		EDN : reprise du menu MOTTO
*		     - SUB-Menu -
*		 - Todd Motto Labs -
========================================*/
#prim-nav {
    height: 52px;
    margin:auto;

}
#navbook {
    height: 51px;
    margin: auto;
    position: relative;
    z-index: 1000;
}
#navbook b {
    display: block;
    float: left;
    height: 50px;
    width: 24px;
}

.MNnav {
    font-size: 14px;
    font-weight: 900;
    position: relative;
}

@media (min-width: 768px) {
	.MNnav {
		display:inline-block;
	}	
}

.MNnav-list {
    list-style: outside none none;
    margin-left: 0;
    text-align: left;
}
.MNnav-item {
	float:left;
	*display:inline;
	zoom:1;
	position:relative;
}
.MNnav-item a {
    color: #515c68;
	display:block;
	padding:15px 20px;

}
.MNnav-item > a:hover { 
    background: rgba(0, 0, 0, 0) url(images/silverbar.jpg) repeat-x scroll right -116px;
    color: #2f404d;
    text-decoration: none;
}
.MNnav-item:hover .MNnav-submenu {
	display:block;
}
/* Navigation submenu */

ul.MNnav-submenu{list-style:none;}

#Mn-nav  {
    line-height: normal;
    margin-bottom: 0px;
    margin-left: 0px;
}
.MNnav-submenu {
	display:none;
	position:absolute;
	left:0;
	width:180px;
}
.MNnav-submenu-item a {
    background: #E9EFF1 none repeat scroll 0 0;
    border-bottom: 1px solid #ffffff;
    color: #445766;
    display: block;
    margin-left: -30px;
    padding: 15px;
}
.MNnav-submenu-item a:hover {
	background:#D9E0E4 ;
	color:#2f404d;
}
/* Mobile navigation */
.MNnav-mobile {
	display:none; /* Hide from browsers that don't support media queries */
    background: #3d3d3b url(images/nav.svg) no-repeat scroll center center / 22px auto;
    border-left: 1px solid #222222;
    cursor: pointer;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}
/* Police des liens */
.MNnav-item a , .MNnav-item > a:hover, .MNnav-submenu-item a, .MNnav-submenu-item a:hover{
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
}
/* Mobile navigation, clickable area for revealing <ul> */
.MNnav-click {
	position:absolute;
	top:0;
	right:0;
	display:none;
	border-left: 1px solid #bccad3;
	height:49px;
	width:50px;
	cursor:pointer;
}
.MNnav-click i {
	display:block;
	height:48px;
	width:48px;
	background: url(images/drop.svg) no-repeat center center;
	background-size:20px;
}
.MNnav-click:hover {
	background-color:#f2f5f6;
}
.MNnav-rotate {
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
/*======================================
		  Navigation latérale
		 "gadget de navigation"
========================================*/
div#menugo {
    position: absolute;
    top: 0px;
    right: 26px;
}
div#gotop {    
    display: block;
    position: fixed;
    top: 110px;
    z-index: 150;
}
div#gotop a {
    background:#C7D8E2;
    float: left;
    color: #445766;
    font-size:30px;
    padding:25px 10px;
    opacity: 0.3;
    border-radius: 0 10px 10px 0;    
}
div#gobottom {
    display: block;
    position: fixed;
    top: 210px;
    z-index: 150;
}
div#gobottom a {
    background:#C7D8E2;
    float: left;
    color: #445766;
    font-size:30px;
    padding:25px 10px;
    opacity: 0.3;
    border-radius: 0 10px 10px 0;
}

/*======================
 ---   Cookie Bar    ---
=======================*/

.cookiebar-container {
	z-index: 100;
	left: 0;
	right: 0;
	top: 0;
	padding: 7px 20px;
	background-color: rgba(255, 255, 255, 0.6);
	border-bottom: 2px solid #D8DFE3;
	font-size: 1em;
	text-align: center;
}

.cookiebar-container.fixed {
	position: fixed;
}

.cookiebar-content {
	text-align: justify;
}

@media (min-width: 769px) {
	.cookiebar-content {
		display: inline-block;
		max-width: calc(100% - 300px);
		vertical-align: middle;
	}

	.cookiebar-actions {
		display: inline-block;
		width: 300px;
	}
}

@media (max-width: 768px) {
	.cookiebar-content {
		margin-bottom: 5px;
	}

	.cookiebar-actions {
		margin: 15px 0 5px 0;
	}
}

.cookiebar-button {
	margin: 0 5px 0 5px;
	border-radius: 4px;
	color: #FEFEFE;
}

@media (max-width: 768px) {
	.cookiebar-button {
		margin: 0 10px 0 10px;
	}
}

.cookiebar-button-understand 		{ background-color: #ffe4e4; border-color: #d7dee3; color: #888888; }
.cookiebar-button-understand:hover 	{ background-color: #d2b3b3; }

.cookiebar-button-allowed 			{ background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%); border-color: #000000; }
.cookiebar-button-allowed:hover 		{ background: #000000; }

.cookiebar-button-declined 			{ background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); border-color: #6d0019; }
.cookiebar-button-declined:hover 	{ background: #AA0000; }

.cookiebar-more a {color: #222222; }

@media (max-width: 468px) {
	.cookiebar-more {
		display: block;
		margin: 10px 0 5px 0;
	}
}

.aboutcookie-title {
	font-size: 1.3em;
	line-height: 1.3em;
	font-weight: bold
}

.aboutcookie-title + p {
	margin: 0px 0 20px 0px;
}

footer#cookiebar-change-choice {
	margin-top: 10px;
	text-align: center;
}

.cookiebar-change-choice-link {
	text-align: center;
}

/*======================================
			Alls Media Queries
		 CSS applique aux écrans PC 
========================================*/

@media ( min-width: 769px ) {

	/* --- Menu gauche --- */
	aside#menu-left {
		float: left;
		width: 25%;
		margin-right: 1%;
	}

	/* --- Menu droit --- */
	aside#menu-right {
		float: right;
		width: 25%;
		margin-left: 1%;
	}

	/* --- Menu central : main --- */
	div#main {
		float: left;
		width: 100%;
		overflow: hidden;
	}

	div#main.main-with-left,
	div#main.main-with-right {
		width: 74%;
	}

	div#main.main-with-left.main-with-right {
		width: 48%;
	}

}

@media (max-width:768px) {

	body {font-size: 1.4em;}
	div#contenu{background:none;margin: auto;width: auto;}
	header#header {margin: auto;}
	div#top-header {
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		height: 70%;
		margin: auto;
		min-height: auto;
	}

	div#visit-counter,
	div#site-infos,
	a.prev, a.next,
	div#top-header-content,
	div#slider{display: none;}
	
	div#header-gsm {background-color:#222222; height:50px; text-align:center;}
	div#sub-header {background:#222222 none repeat scroll 0 0;border: none;}
	a#site-name-gsm {
    color: #f9fcff;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.02em;
    line-height: 1em;
	}
	div#global {
		background-color: #ffffff;
		border-top: 1px solid #000;
		margin: auto;
		max-width: 1000px;
		-webkit-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.75);	
	}
	div#sous-global {
		background-color: # faf6ee;
		margin: auto;
		padding: 0 10px;
	}

	footer#footer {
		background: #7d7e7d; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTBlMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
		background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-8 */
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;
		border-top: 1px solid #222222;
		clear: both;
		margin: auto;
		width: 1000px;
   height: auto;		
	}
	footer#footer .footer-infos {
		min-height: 40px;
		text-align: center;
		padding-top: 10px;
	}
	footer#footer {width:100%}
	
	.footer-infos span {
    display: block;
    padding: 0 0 5px;
	}
	footer#footer .footer-infos {
    min-height: 40px;
    padding-top: 5px;
    text-align: center;
}
	footer#footer .footer-infos span {
	color: #eeeeee;
	font-size: 0.8em;
}
	span.footer-infos-separator {
		display: none;
	}
	#silverbarnav{display: none;}
}

@media (min-width:769px) {
	#menu-title {display: none;}
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
	
/* EDN MNNAV Original */
	#prim-nav{
		background:none;
		border-left:none;
		border-right:none;
		height: 51px;
		margin: auto;
		width:auto;
	}

	section#navbook {
		background: #3d3d3b none repeat scroll 0 0;
		border-right:none;		
		/*height: auto;*/
		margin: auto auto auto -1px;
		padding: 0;
		vertical-align: top;
		width: 100%;
		z-index: 100;
	}
	#menu-title{
		color: #ffffff;
		float: left;
		font-weight: bold;
		padding: 18px 0 0 87px;
		text-align: center;
		text-transform: uppercase;
		}
	.MNnav-mobile {
		display:block;
	}
	.nav {
		width:100%;
		padding:50px 0 0;
		margin-top: -34px;
		position: relative;
	}
	.MNnav-list {
		display:none;
	}
	.MNnav-item {
		width:100%;
		float:none;
		list-style: none outside none;		
	}
	.MNnav-item > a {
		padding:15px;
	}
	.MNnav-click {
		display:block;
	}
	.MNnav-mobile-open {
		border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
	}
	.MNnav-item:hover .MNnav-submenu {
		display:none;
	}
	.MNnav-submenu {
		position:static;
		width:100%;
	}
	ul{margin-left:0px;}
	.MNnav-submenu{margin-bottom:0px}
	.MNnav-item a {
		background: #d7dee3 none repeat scroll 0 0;
		border-bottom:1px solid #bccad3;
		color: #445766;
		display: block;
	}
	.MNnav-item > a:hover {
		background:#f2f5f6 none repeat scroll 0 0;
	}
	.MNnav-submenu-item a {
		background: #efefef none repeat scroll 0 0;
		border-bottom: 1px solid #bccad3;
		color:#445766;
		display: block;
		margin-left:0px;
		padding: 15px;
	}
	.MNnav-submenu-item a:hover {
		background:#d7dee3 none repeat scroll 0 0;
		color: #2f404d;
	}
}
@media (max-width:768px) {
	div#menugo {display: none;}
}

 /*======================================
Menu Footer
========================================*/
 
div#copy {
    margin: 10px 0;
    text-align: center;
}
div#copy .copmenu a {
    margin: 0 2px;
}
.copmenu li {
    display: inline;
}
.copmenu ul, .copmenu li {
    line-height: 21px;
    list-style: outside none none;
}
.copmenu li a {
    color: #ffffff; /* là, tu peux modifier la couleur des liens*/
    font-size: 12px;
    text-shadow: 1px 1px 1px #000000;
}
.copmenu li a:hover {
    color: #eeeeee; /* là, tu peux modifier la couleur des liens au survol*/
}
